Makefile
Makefile.in
aclocal.m4
autom4te.cache/
m4/lt*.m4
m4/libtool.m4
compile
config.log
config.guess
config.sub
ltmain.sh
config.status
configure
x52mfd_config.h
x52mfd_config.h.in
config.h
config.h.in
depcomp
install-sh
missing
stamp-h1
libtool
x52mfd
.deps/
.libs/
*.o
*.so
*.a
*.la
*.lo
*~
