Makefile
Makefile.in
aclocal.m4
m4
autom4te.cache/
compile
config.log
config.guess
config.sub
ltmain.sh
config.status
configure
config.h
config.h.in
depcomp
install-sh
missing
stamp-h1
.deps/
.libs/
*.o
*.so
*.a
*.la
*~
