Makefile
aclocal.m4
autom4te.cache/
m4/lt*.m4
m4/libtool.m4
compile
config.guess
config.sub
ltmain.sh
config.status
configure
config.h
depcomp
install-sh
missing
stamp-h1
libtool
x52mfd
.dirstamp
.deps/
.libs/
*.log
*.in
*.o
*.so
*.a
*.la
*.lo
*~

!x52mfd.service.in
!ed-odyssey.conf.in
